 
:root {
  --darkBlue2: #23408F;
  --mediumBlue2: #0080c4;
  --lightBlue2: #03B6ED;
  --textHover: #03ff03;
  --textCode: #adff2f;
  --textClick: #fcf401;
  --submitButton: #328E6E;
  --submitLight: #5ffc7f;
  --reboot: #ff4949;
  --rebootLight: #fcb0b0;
  --zs: #040d00;
  --zm: #060ee2;
  --zr: #0f6000;
  --sym23qs: #464646;
  --symU: #f58121;
  --zsLight: #ffffff;
  --zmLight: #7cd8f9;
  --zrLight: #8afc76;
  --symULight: #f5d2b4;
  --rangeBlue: #002c65;
  --backDisable: #aaaaaa;
  --backDisableLight: #969696;
  --colorDisable: #5a5a5a;
}

body{ background-color: white; }

.mainContainer{ background-color: var(--darkBlue2); border-radius: 10px; box-shadow: 0px 2px 5px black; }

h1{ color: white; text-shadow: 3px 2px 2px black; }

#simulatingTitle{ background-color: rgb(0, 255, 0); color: rgb(0, 11, 50); border-radius: 10px; box-shadow: 0px 2px 5px black; text-shadow: 3px 2px 2px rgb(125, 248, 125); }

.dropdown { background-color: var(--darkBlue2); color: white; border: none; }
.dropdown-content { background-color: var(--darkBlue2); }
.dropdown-content button { color: white; background-color: var(--darkBlue2); border-radius: 3px; border-color: transparent; }
.dropdown-content button:hover { background-image: linear-gradient(var(--mediumBlue2) 70%, var(--lightBlue2)); }
.dropdown:hover .dropdown { background-image: linear-gradient(var(--mediumBlue2) 70%, var(--lightBlue2)); }

hr{ background-color: var(--mediumBlue2); border-color: black; box-shadow: 0px 1px 3px black; width: 96%; }

#footerSection{ color: white; }

textarea{ background-color: black; color: var(--textCode); border-radius: 10px; box-shadow: 0px 2px 5px black; }

.butt{ border-radius: 10px; color: white; text-shadow: 2px 2px 2px var(--darkBlue2); background-image: linear-gradient(var(--mediumBlue2) 70%, var(--lightBlue2)); }
.butt:hover{ box-shadow: 5px 5px 20px black; color: var(--textHover); }
.butt:active{ box-shadow: 10px 10px 20px black; color: var(--textClick); }

.reboot{ background-image: linear-gradient( var(--reboot) 60%, var(--rebootLight)); }

.select{ background-image: linear-gradient(var(--mediumBlue2) 70%, white); }

.yn{ background-image: linear-gradient( var(--submitButton) 60%, var(--submitLight)); }

.zsSym{ background-image: linear-gradient( var(--zs) 60%, var(--zsLight)); }
.zmSym{ background-image: linear-gradient( var(--zm) 60%, var(--zmLight)); }
.zrSym{ background-image: linear-gradient( var(--zr) 60%, var(--zrLight)); }
.sym23qs{ background-image: linear-gradient( var(--sym23qs) 60%, var(--zsLight)); }
.sym23qr{ background-image: linear-gradient( var(--sym23qs) 60%, var(--zsLight)); }
.uSym{ background-image: linear-gradient( var(--symU) 60%, var(--symULight)); }

#calibrationContainer{ background-color: var(--lightBlue2); border-radius: 10px; border: 0.1rem solid var(--darkBlue2); }

div input, div label{ color: black; }

output{ border: 1px solid black; box-shadow: 0px 2px 5px black; border-radius: 5px; }

input[type="range"]{ box-shadow: 5px 2px 5px var(--rangeBlue); }

input[type="radio"] { border: 2px solid var(--darkBlue2); background-color: white; }

#waterRadioLabel:hover { color: var(--darkBlue2); }
#waterRadioLabel { color: var(--darkBlue2); }
#fuelRadioLabel:hover { color: red; }
#fuelRadioLabel { color: red; }

#waterRadioId[type="radio"]:checked { background-color: var(--darkBlue2); border-color: black; }
#fuelRadioId[type="radio"]:checked { background-color: red; border-color: black; }

.submit, #dID, #restartSimulationID{ background-image: linear-gradient( var(--submitButton) 60%, var(--submitLight)); }

.submit, #dID, #restartSimulationID{ background-color: var(--submitButtonBlack); }

.disable, .disable:hover, .disable:active{ background-image: linear-gradient( var(--backDisable), var(--backDisableLight)); color: var(--colorDisable); box-shadow: 0px 0px 0px black; text-shadow: 0px 0px 0px black; border-color: transparent; }




