
:root {
  --darkBlue2: #23408F;
  --mediumBlue2: #0080c4;
  --lightBlue2: #03B6ED;
  --textHover: #03ff03;
  --textCode: #adff2f;
  --textClick: #fcf401;
  --submitButton: #328E6E;
  --reboot: #ff4949;
  --zs: #040d00;
  --zm: #060ee2;
  --zr: #0f6000;
  --sym23qs: #464646;
  --symU: #f58121;
  --backDisable: #aaaaaa;
  --colorDisable: #5a5a5a;
  --restart: rgb(225, 225, 3);
}

body{ background-color: white; }

.mainContainer{ background-color: var(--darkBlue2); border-radius: 3px; }

h1{ color: white; }

#simulatingTitle{ background-color: rgb(0, 255, 0); color: black; border-radius: 3px; border: 5px solid rgb(170, 251, 176);}


.dropdown { background-color: var(--darkBlue2); color: white; border: none; }
.dropdown-content { background-color: var(--darkBlue2); }
.dropdown-content button { color: white; background-color: var(--darkBlue2); border-radius: 3px; border-color: transparent; }
.dropdown-content button:hover { background-color: var(--lightBlue2); }
.dropdown:hover .dropdown { background-color: var(--mediumBlue2); }

hr{ background-color: var(--mediumBlue2); border-color: black; }

#footerSection{ color: white; }

textarea{ background-color: black; color: var(--textCode); border-radius: 5px; }

.butt{ border-radius: 5px; color: white; background-color: var(--mediumBlue2); border-color: transparent; }
.butt:hover{ box-shadow: 5px 5px 20px black; color: var(--textHover); }
.butt:active{ box-shadow: 10px 10px 20px black; color: var(--textClick); }

.reboot{ background-color: var(--reboot) }

.select{ background-color: var(--mediumBlue2); }

.yn{ background-color: var(--submitButton) }

.zsSym{ background-color: var(--zs); }
.zmSym{ background-color: var(--zm); }
.zrSym{ background-color: var(--zr); }
.sym23qs{ background-color: var(--sym23qs); }
.sym23qr{ background-color: var(--sym23qs); }
.uSym{ background-color: var(--symU); }

#calibrationContainer{ background-color: var(--lightBlue2); border-radius: 5px; border: 0.1rem solid var(--darkBlue2); }

div input, div label{ color: black; }

output{ border: 1px solid var(--darkBlue2); border-radius: 3px; }

input[type="radio"] { border: 2px solid black; background-color: white; }

#waterRadioLabel:hover { color: var(--darkBlue2); }
#waterRadioLabel { color: var(--darkBlue2); }
#fuelRadioLabel:hover { color: red; }
#fuelRadioLabel { color: red; }

#waterRadioId[type="radio"]:checked { background-color: var(--darkBlue2); border-color: black;}
#fuelRadioId[type="radio"]:checked { background-color: red; border-color: black;}

.submit{ background-color: var(--submitButton); }

#dID{ background-color: var(--mediumBlue2); color: white; font-weight: bold; font-size: 20px; }

#restartSimulationID{ background-color: var(--submitButton); color: white; font-weight: bold; font-size: 20px; }

.disable, .disable:hover, .disable:active{ background-color: var(--backDisable); color: var(--colorDisable); box-shadow: 0px 0px 0px black; text-shadow: 0px 0px 0px black; border-color: transparent; }





