
:root {
    --darkBlue: #23408F;
    --mediumBlue: #0080c4;
    --lightBlue: #03B6ED;
    --textHover: #03ff03;
    --textClick: #fcf401;
  }

body{background-color: white; font-family: "Droid Sans", sans-serif;}

.mainContainer{ font-style: oblique; background-color: var(--darkBlue); width: 100%; height: auto; padding: 0.1rem 0; text-align: center; border-radius: 10px; box-shadow: 0px 2px 5px black; }
h1{ color: white; text-shadow: 3px 2px 2px black; }
#footerSection{color: white; margin-top: 2rem;}

textarea{ resize: none; background-color: black; color: greenyellow; border-radius: 10px; border-width: 15px; width: 70%;}

.container{display: inline-flexbox; text-align: center; margin-top: 10px; }

.butt{ padding: 10px; font-size: 16px; border-radius: 10px; font-weight: bold; margin-top: 5px;  width: 15rem; margin: 3px; color: white; text-shadow: 2px 2px 2px black; background-image: linear-gradient(var(--mediumBlue) 70%, var(--lightBlue)); }
.butt:hover{ box-shadow: 5px 5px 20px black; color: var(--textHover); }
.butt:active{ box-shadow: 10px 10px 20px black; color: var(--textClick); }

.reboot{ background-image: linear-gradient(rgb(153, 1, 1) 60%, rgb(255, 144, 144)); }

.select{ width: 6rem; margin-inline: 0.5rem; background-image: linear-gradient(var(--mediumBlue) 70%, white);}
.set{ width: 10rem; margin-inline: 0.5rem;}
.convert{ width: 20rem; margin-inline: 0.5rem;}
.yn{background-image: linear-gradient(rgb(47, 90, 1) 60%, rgb(8, 254, 61)); }

.zsSym{ background-image: linear-gradient(rgb(4, 13, 0) 60%, rgb(145, 148, 145));}
.zmSym{ background-image: linear-gradient( rgb(1, 3, 94) 60%, var(--lightBlue));}
.zrSym{ background-image: linear-gradient(rgb(10, 67, 0) 60%, rgb(8, 254, 61));}
.sym23qs{ background-image: linear-gradient(rgb(1, 1, 1) 60%, rgb(255, 255, 255));}
.sym23qr{ background-image: linear-gradient(rgb(1, 1, 1) 60%, rgb(255, 255, 255));}
.uSym{ background-image: linear-gradient(rgb(216, 97, 0) 60%, rgb(245, 210, 180));}

#calibrationContainer{font-weight: bold; font-size: 1.3rem; box-sizing: border-box; background-color: var(--lightBlue); border-radius: 10px; border: 0.1rem solid var(--darkBlue); width: 100%; align-items: center; margin: auto; margin-top: 1rem; height: auto; padding: 1rem 0rem;}

@media screen and (max-width: 700px) { .height { display: block; } }
@media screen and (max-width: 1000px) { .empty { display: block; } }

div input, div label{font-size: 1.2rem; color: black; margin: 0.5rem 0rem; padding-inline: 0.5rem; display: inline;}

input[type="range"]{ width: 70%; display: inline-block;}

input[type="radio"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 50%; width: 20px; height: 20px; border: 0.15rem solid var(--mediumBlue); transition: 0.5s all linear; background-color: white; vertical-align: middle; }

#waterRadioLabel:hover { color: var(--darkBlue); cursor: pointer; }
#waterRadioLabel { color: var(--darkBlue); }
#fuelRadioLabel:hover { color: red; cursor: pointer; }
#fuelRadioLabel { color: red; }

#waterRadioId[type="radio"]:checked { background-color: var(--darkBlue); border-color: black;}
#fuelRadioId[type="radio"]:checked { background-color: red; border-color: black;}


.submit{background-image: linear-gradient(rgb(47, 90, 1) 60%, rgb(8, 254, 61)); margin-bottom: 1rem; width: 9rem;}

.disable, .disable:hover, .disable:active{ background-image: linear-gradient(rgb(170, 170, 170), rgb(150, 150, 150)); color: rgb(90, 90, 90); box-shadow: 0px 0px 0px black; text-shadow: 0px 0px 0px black; border-color: transparent; font-size: 1rem;}




