
/*Main CSS Style Sheet for size and Position of all elements on the page*/

body{ font-family: "Droid Sans", sans-serif; display: flex; flex-direction: column; min-height: 100vh; box-sizing: border-box; }

.content-wrapper { flex-grow: 1; }

.mainContainer{ font-style: oblique; width: 100%; height: auto; padding: 0.1rem 0; text-align: center; display: inline-block; }

.container{ text-align: center; margin-top: 0.5rem; }

/*Headhunter Logo*/
img{ position: relative; margin-left: 1rem; display: inline;}

h1{ float: left; margin-left: 41%; position: relative; }

#simulatingTitle{ font-weight: bolder; display: inline-block; height: auto; margin: auto; padding: 1rem; }

.dropdown { font-size: 3rem; cursor: pointer; float: right; margin-right: 0.5rem; }
.dropdown-content { display: none; position: absolute; z-index: 1; margin-top: 4.2rem; translate: -10rem; }
.dropdown-content button { display: block; font-size: 1.5rem; width: 13rem; padding: 0.5rem; }
.dropdown:hover .dropdown-content { display: block; }

hr{ height: 0.5rem; }

#footerSection { margin-top: 2rem; margin-bottom: 0.1rem; }

textarea{ resize: none; border-width: 1rem; width: 70%; }

#textAreaContainer{ margin-left: -0.5rem; }

.butt{ padding: 0.5rem; font-size: 1rem; font-weight: bold; margin-top: 0.2rem;  width: 15rem; margin: 0.2rem; }

.select{ width: 6rem; margin-inline: 0.5rem; }

.set{ width: 10rem; margin-inline: 0.5rem; }

.convert{ width: 20rem; margin-inline: 0.5rem; }

#calibrationContainer{ font-weight: bold; font-size: 1.3rem; box-sizing: border-box; width: 100%; align-items: center; margin: auto; margin-top: 1rem; height: auto; padding: 1rem 0rem; }

div input, div label{ font-size: 1.2rem; margin: 0.5rem 0rem; padding-inline: 0.5rem; display: inline; }

output{ font-size: 1.5rem; font-weight: bolder; padding: 0rem 0.6rem; }

input[type="range"]{ width: 70%; display: inline-block;}

input[type="radio"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; width: 1.2rem; border-radius: 50%; height: 1.2rem; transition: 0.5s all linear; vertical-align: middle; }

#waterRadioLabel:hover { cursor: pointer; }
#fuelRadioLabel:hover { cursor: pointer; }

.submit{ margin-bottom: 1rem; width: 9rem;}

.disable, .disable:hover, .disable:active{ font-size: 1rem;}

/*Page H1 title*/
@media screen and (max-width: 700px) { .tankSentry { margin-left: 5%; } }
@media screen and ( max-width: 340px) { h1 { font-size: 1.5rem; width: 10rem; height: 3rem; margin: auto;} }
@media screen and ( max-width: 300px) { h1 { font-size: 1rem; width: 5rem; margin-top: 1rem;} }
@media screen and ( max-width: 250px) { h1 { font-size: 0.8rem; width: 4rem; margin-top: 1rem;} }
@media screen and ( max-width: 200px) { h1 { font-size: 0.6rem; width: 2rem; margin-top: 1.5rem;} }

/*Drop down menu*/
@media screen and ( max-width: 200px) { .dropdown { margin-right: 0;} }

/*Page Logo*/
@media screen and (max-width: 450px) { #HHLogo {margin-left: 0; };}
@media screen and (max-width: 400px) { #HHLogo {margin-left: 0; width: 15rem;};}
@media screen and (max-width: 300px) { #HHLogo {margin-left: 0; width: 10rem;};}
@media screen and (max-width: 200px) { #HHLogo {margin-left: 0; width: 5rem;};}

/*Simulation running box*/
@media screen and ( max-width: 250px) { #simulatingTitle { font-size: 0.5rem; width: 3rem;} }

/*Find Buttons*/
@media screen and ( max-width: 300px) { #FindSymsId, #seeEverythingId { width: 10rem;} }
@media screen and ( max-width: 200px) { #FindSymsId, #seeEverythingId { width: 5rem; font-size: 0.5rem;} }

/*Set buttons*/
@media screen and ( max-width: 200px) { .set { width: 5rem; font-size: 0.5rem;} }

/*Convert buttons*/
@media screen and ( max-width: 400px) { .convert { width: 12rem; } }
@media screen and ( max-width: 300px) { .convert { width: 10rem; } }
@media screen and ( max-width: 200px) { .convert {  width: 5rem; font-size: 0.5rem; } }

/*Submit and restart buttons*/
@media screen and ( max-width: 200px) { .submit { width: 5rem; font-size: 0.5rem;} }
@media screen and ( max-width: 200px) { .Restart { width: 5rem; font-size: 0.5rem;} }

@media screen and ( max-width: 700px) { .height { display: block; } }
@media screen and ( max-width: 1000px) { .empty { display: block; } }


