 
:root {
  --mediumBlue: #0080c4;
  --textCode: #adff2f;
  --textClick: #fcf401;
  --submitButtonBlack: #1c4d3b;
  --rebootBlack: #6d2e2e;
  --zs: #383a37;
  --zm: #232564;
  --zr: #27601e;
  --sym23qs: #464646;
  --symU: #9f571c;
  --backDisable: #aaaaaa;
  --colorDisable: #5a5a5a;
  --buttonColor: #414141;
}

body{ background-color: black; }

.mainContainer{ background-color: var(--buttonColor); border-radius: 3px; }

h1{ color: white; }

#simulatingTitle{ background-color: var(--zr); color: white; border-radius: 3px;}

.dropdown { background-color: var(--buttonColor); color: white; border: none; }
.dropdown-content { background-color: var(--buttonColor); }
.dropdown-content button { color: white; background-color: var(--buttonColor); border-radius: 3px; border-color: transparent; }
.dropdown-content button:hover { background-color: grey; }
.dropdown:hover .dropdown { background-color: grey; }

hr{ background-color: grey; border-color: black; }

#footerSection{ color: white; }

textarea{ background-color: black; color: var(--textCode); border-radius: 5px; }

.butt{ border-radius: 5px; color: white; background-color: var(--buttonColor); border-color: transparent; }
.butt:hover{ box-shadow: 5px 5px 20px black; background-color: grey; }
.butt:active{ box-shadow: 10px 10px 20px black; color: var(--textClick); }

.reboot{ background-color: var(--rebootBlack) }

.select{ background-color: var(--mediumBlue); }

.yn{ background-color: var(--submitButtonBlack) }

.zsSym{ background-color: var(--zs); }
.zmSym{ background-color: var(--zm); }
.zrSym{ background-color: var(--zr); }
.sym23qs{ background-color: var(--sym23qs); }
.sym23qr{ background-color: var(--sym23qs); }
.uSym{ background-color: var(--symU); }

#calibrationContainer{ background-color: var(--buttonColor); border-radius: 5px; }

div input, div label{ color: white; }

output{ border: 1px solid gray; border-radius: 3px; color: white;}

input[type="range"]{ accent-color: grey; }

input[type="radio"] { border: 2px solid black; background-color: white; }

#waterRadioLabel:hover { color: blue; cursor: pointer; }
#waterRadioLabel { color: blue; }
#fuelRadioLabel:hover { color: red; cursor: pointer; }
#fuelRadioLabel { color: red; }

#waterRadioId[type="radio"]:checked { background-color: blue; border-color: black;}
#fuelRadioId[type="radio"]:checked { background-color: red; border-color: black;}

.submit, #dID, #restartSimulationID{ background-color: var(--submitButtonBlack); }

.disable, .disable:hover, .disable:active{ background-color: var(--backDisable); color: var(--colorDisable); box-shadow: 0px 0px 0px black; text-shadow: 0px 0px 0px black; border-color: transparent; }




